<script>

const NODE_RADIUS = 20;
const LINK_DISTANCE = 150;
const CHARGE_STRENGTH = -300;

var nodes = [
{% for key, value in graph_nodes.items() %}
    { id: "{{ key }}", name: "{{ value.name }}" },
{% endfor %}
];

var links = [
{% for key, value in graph_edges.items() %}
    {% if value.node1.id != value.node2.id %}
    {
        source: "{{ value.node1.id }}",
        target: "{{ value.node2.id }}",
        curved: {{ "true" if graph_edges.values() 
                    | selectattr("node1.id","equalto",value.node2.id)
                    | selectattr("node2.id","equalto",value.node1.id)
                    | list | length > 0 else "false" }}
    },
    {% endif %}
{% endfor %}
];

var selfLoops = [
{% for key, value in graph_edges.items() %}
    {% if value.node1.id == value.node2.id %}
    { source: "{{ value.node1.id }}" },
    {% endif %}
{% endfor %}
];

var parentDiv = d3.select("#main");
var width = parentDiv.node().getBoundingClientRect().width;
var height = parentDiv.node().getBoundingClientRect().height;

var svg = parentDiv.append("svg")
    .attr("width", "100%")
    .attr("height", "100%");

// Arrow marker definition (must be defined before container)
svg.append("defs")
    .append("marker")
    .attr("id", "arrowhead")
    .attr("viewBox", "0 0 10 10")
    .attr("refX", 25)
    .attr("refY", 5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
    .append("path")
    .attr("d", "M 0 0 L 10 5 L 0 10 z")
    .attr("fill", "#999");

var container = svg.append("g");


// Standard zoom
svg.call(
    d3.zoom()
        .scaleExtent([0.2, 5])
        .on("zoom", (event) => {
            container.attr("transform", event.transform);
        })
);


// Node lookup map
var nodeMap = {};
nodes.forEach(n => nodeMap[n.id] = n);


// Force simulation
var simulation = d3.forceSimulation(nodes)
    .force("link", d3.forceLink(links)
        .id(d => d.id)
        .distance(LINK_DISTANCE))
    .force("charge", d3.forceManyBody().strength(CHARGE_STRENGTH))
    .force("center", d3.forceCenter(width / 2, height / 2))
    .force("collide", d3.forceCollide(NODE_RADIUS + 5));


// LINKS
var link = container.append("g")
    .selectAll("path")
    .data(links)
    .enter()
    .append("path")
    .attr("fill", "none")
    .attr("stroke", "#999")
    .attr("stroke-width", 2)
    .attr("stroke-opacity", 0.6)
    .attr("marker-end", "url(#arrowhead)");


// SELF LOOPS
var selfLoop = container.append("g")
    .selectAll("path")
    .data(selfLoops)
    .enter()
    .append("path")
    .attr("fill", "none")
    .attr("stroke", "#999")
    .attr("stroke-opacity", 0.6);


// NODES
var node = container.append("g")
    .selectAll("circle")
    .data(nodes)
    .enter()
    .append("circle")
    .attr("r", NODE_RADIUS)
    .attr("fill", "black")
    .call(
        d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended)
    )
    .on("click", function(event, d) {

        node.attr("fill", "black");
        d3.select(this).attr("fill", "red");

        document.dispatchEvent(
            new CustomEvent("node-clicked", { detail: d.id })
        );
    });


// TEXT
var text = container.append("g")
    .selectAll("text")
    .data(nodes)
    .enter()
    .append("text")
    .text(d => d.name)
    .attr("fill", "#fff")
    .attr("font-size", "12px")
    .attr("text-anchor", "middle")
    .attr("dy", ".35em");


// TICK
simulation.on("tick", () => {

    link.attr("d", function(d) {

        if (d.curved) {
            var dx = d.target.x - d.source.x;
            var dy = d.target.y - d.source.y;
            var dr = Math.sqrt(dx * dx + dy * dy);

            return `
                M ${d.source.x},${d.source.y}
                A ${dr},${dr}
                0 0,1
                ${d.target.x},${d.target.y}
            `;
        }

        return `
            M ${d.source.x},${d.source.y}
            L ${d.target.x},${d.target.y}
        `;
    });

    selfLoop.attr("d", function(d) {
        var n = nodeMap[d.source];
        var x = n.x;
        var y = n.y;

        return `
            M ${x + NODE_RADIUS},${y}
            A ${NODE_RADIUS * 1.5},${NODE_RADIUS * 1.5}
            0 1,0
            ${x - NODE_RADIUS},${y}
        `;
    });

    node
        .attr("cx", d => d.x)
        .attr("cy", d => d.y);

    text
        .attr("x", d => d.x)
        .attr("y", d => d.y);
});


// DRAG
function dragstarted(event, d) {
    if (!event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
}

function dragged(event, d) {
    d.fx = event.x;
    d.fy = event.y;
}

function dragended(event, d) {
    if (!event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
}


// RESIZE
window.addEventListener("resize", function () {

    width = parentDiv.node().getBoundingClientRect().width;
    height = parentDiv.node().getBoundingClientRect().height;

    simulation.force("center", d3.forceCenter(width / 2, height / 2));
    simulation.alpha(1).restart();
});

window.highlightMainNode = function(nodeId) {
    node.attr("fill", "black");
    node.filter(d => d.id === nodeId).attr("fill", "red");
}

</script>